/* * Hiding section and title altogether */ 
body{
    font-family: 'Times New Roman', Times, serif, Times, serif;
    font-size: larger;
    background-color: rgb(245, 245, 243);
}

section{
    background-color: rgba(127, 156, 21, 0.831);
    border: solid 2px #000000;
    padding: 10px;
}
.hide {
    display: none;
}

.show {
    display: block;
}
h1{
    text-align: center;
}

p{
    padding: 10%;
}

#startButton{
    display: block;
    margin: 0 auto;
}

.choice{
    display: block;
    margin-top: 10px;
}
